.burger.light {
  --hover-color: hsl(206 24% 9%);
  --color: hsl(252 96.9% 97.4%);
}

.burger.dark {
  --hover-color: hsl(252 96.9% 97.4%);
  --color: hsl(206 24% 9%);
}

.burger:before,
.burger:after {
  transition: all 0.15s ease-in-out;
}

.burger.active:before,
.burger:hover:before {
  transform: translateY(10px) rotate(135deg);
}
.burger.active:after,
.burger:hover:after {
  transform: translateY(-11px) rotate(-135deg);
}

.burger.active:before,
.burger.active:after {
  background-color: rgb(229, 231, 235);
}

.burger.active div,
.burger:hover div {
  transform: scale(0);
}

.burger:before {
  background-color: var(--color);
  border-radius: 3px;
  content: '';
  display: block;
  height: 4px;
  margin: 2px 0;
}

.burger:after,
.burger div {
  background-color: var(--color);
  border-radius: 3px;
  content: '';
  display: block;
  height: 4px;
  margin: 7px 0;
}
