@import '../styles/variables';
@import '../styles/colors';
@import '../styles/mixin';

.footer {
  height: $footer-height;
  padding-top: 1em;
  padding-bottom: 1em;
  mix-blend-mode: difference;
  span {
    mix-blend-mode: difference;
  }

  @include touch {
    white-space: nowrap;
  }
}
