@import '../styles/variables.scss';
@import '../styles/colors.scss';
@import '../styles/mixin.scss';

$nav-vertical-spacing: 10px;

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: $page-width;
  width: 90%;
  padding: $nav-vertical-spacing 0;
  background-color: $white;
  max-height: $nav-height;

  @include touch {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;

    a {
      width: 100%;
      padding: $nav-vertical-spacing 0;
    }
  }

  a {
    color: #000;
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }
}

.brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: $nav-height;

  @include touch {
    background-color: $white;
    z-index: 10;
  }

  a,
  img {
    max-height: $nav-height;
  }
}

.link {
  margin: 0 $header-link-vertical-margin;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include touch {
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: transform $transition, background-color $transition;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-200px);
    padding-bottom: 1em;
    padding-top: 75px;

    &.active {
      transform: translateY(0);
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-top-color: $white;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

.burger {
  margin: 1em;
  width: 40px;
  display: none;
  @include touch {
    display: block;
  }

  &.active,
  &:hover {
    &:before {
      transform: translateY(12px) rotate(135deg);
    }
    &:after {
      transform: translateY(-12px) rotate(-135deg);
    }
    div {
      transform: scale(0);
    }
  }
}

.burger:after,
.burger:before,
.burger div {
  background-color: $black;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
}
