@import '../styles/variables.scss';
@import '../styles/variables.scss';

.header {
  height: $nav-height;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: $page-width;
  margin: 10px auto;

  a {
    color: #000;
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }
}

.link {
  margin: 0 $header-link-vertical-margin;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
