@import '../styles/colors.scss';
@import '../styles/variables.scss';
@import '../styles/mixin';

.link-container {
  position: relative;
  &.active,
  &:hover {
    .underline {
      width: calc(100% - #{$header-link-vertical-margin * 2});
      display: block;
    }
  }

  @include touch {
    margin-top: 10px;
    .underline {
      display: none;
    }
  }
}

.underline {
  width: 0;
  height: $underline-height;
  margin: 0 $header-link-vertical-margin;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width $transition;
}
