@import '../styles/colors.scss';
@import '../styles/variables.scss';
@import '../styles/mixin.scss';

.suffix {
  position: absolute;
  bottom: -200px;
  width: 100%;

  @include _touch {
    top: 100%;
    left: -800px;
    text-align: center;
  }

  &.active {
    animation: vertical-show 3s ease-out 1;

    @include _touch {
      animation: horizontal-show 3s ease-out 1;
    }
  }
}

@keyframes horizontal-show {
  0% {
    left: -800px;
    opacity: 0;
  }
  20% {
    left: 50px;
  }
  30% {
    left: 0;
    opacity: 1;
  }
  95% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 800px;
    opacity: 0;
  }
}

@keyframes vertical-show {
  0% {
    bottom: -200px;
    opacity: 0;
  }
  20% {
    bottom: calc(50% + 10px);
  }
  30% {
    bottom: calc(50% - 30px);
    opacity: 1;
  }
  95% {
    bottom: calc(50% - 30px);
    opacity: 1;
  }
  100% {
    bottom: 200px;
    opacity: 0;
  }
}
