@import '../styles/colors.scss';
@import '../styles/variables.scss';
@import '../styles/mixin.scss';

$suffix-padding: 5px;

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;

  @include until-widescreen {
    flex-direction: column;
    justify-content: center;
  }
}

.suffix {
  display: none;
  padding: 0 5px;
  white-space: break-spaces;
  position: relative;

  &:after {
    content: '';
    height: $underline-height;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &.active {
    display: block;
    &::after {
      animation: timer 3s ease-out 1;
    }
  }
}

@keyframes timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
