@import '../styles/variables.scss';
@import '../styles/colors.scss';
@import '../styles/mixin.scss';

.post-link {
  width: 100%;
  min-height: 150px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .cta {
    white-space: nowrap;
    margin-left: 1em;
  }

  @include touch {
    flex-direction: row;
    min-height: 170px;
    justify-content: center;

    .cta {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  @include mobile {
    flex-direction: column;
    justify-content: center;
    .cta {
      margin-top: 1em;
      margin-left: auto;
    }
  }

  border: 2px solid $black;
  border-radius: 1em;
  padding: 1em 2em;

  transition: box-shadow $linear-transition, transform $linear-transition;

  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;

  &,
  &:hover {
    color: #000;
  }

  &:hover {
    transform: translateX(-3px) translateY(-3px);
    box-shadow: 1px 1px 0px $pink, 2px 2px 0px $pink, 3px 3px 0px $pink, 4px 4px 0px $pink, 5px 5px 0px $pink,
      6px 6px 0px $pink;
  }

  .cta i {
    margin-left: 10px;
  }

  &:last-of-type {
    margin-bottom: 1.5em;
  }
}
