.progressive-image {
  display: flex;
}

.overlay {
  position: absolute;
  filter: blur(1px);
  transition: opacity ease-in 1000ms;
  clip-path: inset(0);
  top: 0;
  right: 0;
  &.hidden {
    opacity: 0;
  }
}
