@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300;400;500&display=swap');

$roboto-mono: 'Roboto Mono', monospace;
$roboto: 'Roboto', sans-serif;

body {
  font-family: $roboto;
  height: 100vh;
}

.is-mono {
  font-family: $roboto-mono;
}
