@import './variables.scss';
@import './mixin.scss';

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  margin: 0 auto;
  max-width: $page-width;

  @include touch {
    padding: 0 1em;
  }

  & > h1 {
    margin-top: 1em;
    @include touch {
      margin-top: 0.5em;
    }
  }
}

.fullheight {
  &:first-of-type {
    height: calc(100vh - #{$nav-height});
  }

  & + & {
    height: 100vh;
  }

  &:last-of-type {
    height: calc(100vh - #{$footer-height});
    max-height: calc(100vh - #{$footer-height});

    #background {
      height: calc(100vh - #{$footer-height});
    }
  }

  &:first-of-type:last-of-type {
    height: calc(100vh - #{$nav-height} - #{$footer-height});
  }

  &.columns {
    margin-bottom: 0 !important;
  }
}

.scene {
  height: 100vh;
}

.ig-frame {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  height: 710px;
  border-radius: 8px;
}

:root {
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;

  --font-xs: 0.5rem;
  --font-s: 1rem;
  --font-m: 1.5rem;
  --font-l: 2rem;
  --font-xl: 3rem;
  --font-xxl: 5rem;

  --white: #fff;
}
