@import './variables.scss';

.page {
  margin: 0 auto;
  width: $page-width;
}

.fullheight {
  height: calc(100vh - #{$nav-height});

  & + & {
    height: 100vh;
  }

  &:last-of-type {
    height: calc(100vh - #{$footer-height});
  }
}

.scene {
  height: 100vh;
}
