@import './variables.scss';

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  margin: 0 auto;
  width: $page-width;
  height: 100%;
}

.fullheight {
  &:first-of-type {
    height: calc(100vh - #{$nav-height});
  }

  & + & {
    height: 100vh;
  }

  &:last-of-type {
    height: calc(100vh - #{$footer-height});
  }

  &:first-of-type:last-of-type {
    height: calc(100vh - #{$nav-height} - #{$footer-height});
  }

  &.columns {
    margin-bottom: 0 !important;
  }
}

.scene {
  height: 100vh;
}
